<h1>Kittens#show</h1>
<p>Find me in app/views/kittens/show.html.erb</p>

    <h4>Name: <%= @kitten.name%></h4>
    <h4>Age: <%= @kitten.age%></h4>
    <h4>Cuteness: <%= @kitten.cuteness%></h4>
    <h4>Softness: <%= @kitten.softness%></h4>